.dataset {
  -webkit-box-shadow: 0px 0px 10px 6px rgba(49, 65, 95, 0.22);
  box-shadow: 0px 0px 6px 6px rgba(49, 65, 95, 0.22);
  background: #faf8f8;
}

/*
.numberOfResults {
text-shadow: 2px 2px 4px rgba(26,121,54,0.2), 2px 2px 4px rgba(26,121,54,0.2);
color: #FFFFFF;
background: #10CF1B;
}
*/
/*
 * Order buttons inline and wrap in fieldset
*/
fieldset.datasetops {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
  padding: 0.2em;
  text-decoration: none;
  min-width: 0;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

fieldset.temporal-box {
  max-width: 100%;
  padding: 0.2em;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

/*
* Remove bullets from facet checkboxes
*/
ul.js-facets-checkbox-links {
  list-style-type: none;
}

/*
 * Display checkbox labels inline for facets
 * TODO: NOT WORKING

  label {
    display: inline-block;
}
*/
/* Add marking of highlighted words */
em strong {
  background-color: #ffff00;
}

/* Do some show/hide  and styling on gcmd/keywords_facets */
/*
section#block-gcmdkeywords h2, li {
  display: none;
}
section#block-gcmdkeywords li.is-active {
  display: block;
  flex-wrap: wrap;
}
*/
a:hover {
  text-decoration: underline;
}

.res-thumb {
  width: 25%;
}

.license-icons {
  margin-top: 5px;
  margin-left: 2px;
}


/* Make sure no bold facets */
label,
.field__label {
  font-weight: normal !important;
}

/* Show licence image inline */
.licimg {
  display: inline;
}

/*
.views-field-fieldset-3 > span:nth-child(1) > details:nth-child(1)
*/

/* Remove bullet from ul in extended metadata view off canvas dialog */
.meta-details-list {
  list-style-type: none !important;
}

.simple-search-region {
  flex-flow: column;
}

.simple-search-row {
  border-width: 1px;
  border-bottom-width: 1px;
  border-bottom-color: darkgray;
  border-bottom-style: dotted;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

/* .views-field-nothing-7 {
  margin-left: 15px !important;
  margin-top: -15px !important;
} */
/*
span.field_content {

 }*/
/**
 * Add margin for facet items
 */
.facet-item__value {
  margin-left: 0.2em !important;
}

/** Handle more parent info
 *
 */
.parent-more-toggle {
  display: none;
}

.parent-more-label {
  cursor: pointer;
}

.parent-more-content {
  display: none;
}
