/**

******************* DEPRECATED. DO NOT USE ********************

 */

/*.non-map-div{*/
/*    float: left;*/
/*    width: 39%;*/
/*}*/
/*.map-div{*/
/*    float: left;*/
/*    width: 59%;*/
/*}*/
/*.full-text-search-div{*/
/*    width: 100%;*/
/*}*/
/*#edit-chosen-full-text-search{*/
/*    width: 100%;*/
/*}*/
/*.investigator-div{*/
/*    width: 100%;*/
/*}*/
/*#edit-chosen-investigator{*/
/*    width: 100%;*/
/*}*/
/*.topics-and-variables-div{*/
/*    width: 100%;*/
/*}*/
/*#edit-chosen-topics-and-variables-a{*/
/*    width: 100%;*/
/*}*/
/*.operational-status-div{*/
/*    width: 100%;*/
/*}*/
/*.institutions-div{*/
/*    width: 100%;*/
/*}*/
/*.data-collection-period-div{*/
/*    width: 100%;*/
/*}*/
/*#edit-finished-after{*/
/*    width: 100%;*/
/*}*/
/*#edit-finished-before{*/
/*    width: 100%;*/
/*}*/
/*.bounding-box-div{*/
/*    width: 100%;*/
/*}*/
/*#edit-bbox-top-left-lon{*/
/*    width: 100%;*/
/*}*/
/*#edit-bbox-top-left-lat{*/
/*    width: 100%;*/
/*}*/
/*#edit-bbox-bottom-right-lon{*/
/*    width: 100%;*/
/*}*/
/*#edit-bbox-bottom-right-lat{*/
/*    width: 100%;*/
/*}*/
/*.geographical-search-div{*/
/*    width: 100%;*/
/*}*/

/*.form-action-div{*/
/*    width: 100%;*/
/*}*/
/*
.form-submit-div{
    width: 50%;
}
.form-reset-div{
    width: 50%;
}
#edit-submit{
    width: 100%;
}
#edit-reset{
    width: 100%
}
*/
/*div.clear{*/
/*    clear: both;*/
/*}*/
/*
.fieldset-legend:hover {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 8px 25px 0 rgba(0,0,0,0.19);
}
*/
/*
 * See https://phab.met.no/T2848#40172
 * "What is happening below the zoom button in the map? Some sort of overlay?"
 * It looks like this can be fixed by setting the properties of the CSS class "ol-zoom"
 * postmortem, but the ideal solution is to fix it at the source in style.min.css
 * which we load for WMS OL client."
.ol-zoom{
    background: #FF6600;
    height: 40px;
}
*/
/*.geographical-search-fieldset{*/
/*    border: none;*/
/*}*/
/*tr:nth-child(2n+2) {
    background-color: #F5F5F5;
}*/
/*tbody tr:nth-child(even) {
  background-color: red;
}


tbody tr:nth-child(odd) {
  background-color: white;
}*/

/*.ol-viewport{
    height: 400px;
    background: red;
}*/
/*#map {*/
/*    width:100%;*/
/*    height: 450px;*/
/*}*/
