
.under_construction{
    color: #ffffff;
    background: repeating-linear-gradient(
        45deg,
        #f0bc08,
        #f0bc08 10px,
        #433a31 10px,
        #433a31 20px
        );
}
.bbox-top-left-lat,
.bbox-top-left-lon,
.bbox-bottom-right-lat,
.bbox-bottom-right-lon{
    width: 20em;
}

.bboxA,
.bboxB,
.bboxC,
.bboxD{ 
    display:inline-block;
    padding: 4px; 
    margin:1px; 
}

.normal {
    filter: invert(0%);
}

.inverted {
    filter: invert(100%);
}
.ui-datepicker-header select.ui-datepicker-month,
.ui-datepicker-header select.ui-datepicker-year {
    background: #e6e6e6;
    color: #6d6d6d;
}

/*.pagination{
    background: red;
}*/