
.quid-share-string{
    display: none;
    font-size: 75%;
    padding: 0px 5px 0px 5px;
    border: 1px solid green;
    overflow: auto;
}
#edit-full-text-search, 
#edit-data-collection-period, 
#edit-bounding-box, #edit-institutions, 
#edit-platform-long-name, 
#edit-topics-and-variables,
#edit-collections, 
#edit-investigator{
    padding-top: 0px;
    padding-bottom: 0px;
}
