.csvwrapper {
    margin: 40px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, [col] auto);
    grid-template-rows: repeat(4, [row] auto);
    background-color: #fff;
    color: #444;
}
.csvbox {
    background-color: #f0f5f5;
    color: #333333;
    border-radius: 5px;
    padding: 20px;
    font-size: 100%;
}
.feedback {
    grid-column: col 1 / span 12;
    grid-row: row 1 / span 1;
    font-size: 150%;

}
.contenta {
    grid-column: col 1 / span 12;
    grid-row: row 2;
}
.contentb {
    grid-column: col 1 / span 3 ;
    grid-row: row 3 / span 1;
    font-size: 75%;
}
.contentc {
    grid-column: col 4 / span 3;
    grid-row: row 3 / span 1;
    font-size: 75%;
}
.contentd {
    grid-column: col 1 / span 3;
    grid-row: row 4 / span 1;
    font-size: 75%;
}
