body {
    margin: 40px;
}


.tscontent {
    grid-area: tscontent;
}

.tsheader {
    grid-area: tsheader;
}

.tsfooter {
    grid-area: tsfooter;
}

.tswrapper {
    background-color: #fff;
    color: #444;
}

.tswrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
        "tsheader"
        "tscontent"
        "tsfooter"
}

@media only screen and (min-width: 500px)  {
    .tswrapper {

        grid-template-columns: 20% auto;
        grid-template-areas:
            "tsheader   tsheader"
            "tscontent  tscontent"
            "tsfooter   tsfooter";
    }
}

@media only screen and (min-width: 600px)   {
    .tswrapper {
        grid-gap: 20px;
        grid-template-columns: 120px auto 120px;
        grid-template-areas:
            "tsheader  tsheader  tsheader"
            "tscontent tscontent tscontent"
            "tsfooter  tsfooter  tsfooter";
        max-width: 900px;
    }
}

.tsbox {
    /*    background-color: #ffffff;*/
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 75%; 
}

.tsheader{
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(2,50px) / repeat(12, 1fr);
    grid-template-areas:
        "tsh1"
        "tsh2";
    background-color: #c2d6d6;
    color: #333333;
}
.tsfooter {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(2,50px) / repeat(12, 1fr);
    grid-template-areas:
        "tsf1 tsf3"
        "tsf2 tsf4"
        "tsf5 tsf5";
    background-color: #eff5f5;
    color: #273f3f;
}
.tsf1{
    /*    background-color: pink;*/
}
.tsf2{
    /*    background-color: blue;*/
}
.tsf3{
    /*    background-color: red;
        color: black;*/
}
.tsf4{
    /*    background-color: orangered;
        color: black;*/
}
.tsf5{
    /*    background-color: orangered;
        color: black;*/
}