.adc-button {
  /*width: 100%;*/
  background-color: #d5dde2;
  /*    background-color:  #f1cc30;*/
  border: none;
  color: black;
  padding: 3px 8px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 2px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  border-radius: 6px;
}

.adc-button-small {
  /*width: 25%;*/
  /*font-size: 14px;*/
  /*    background-color: #d5dde2;
        border: none;
        color: black;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 2px 1px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s;  Safari
        transition-duration: 0.4s;
        border-radius: 6px;*/
}



.adc-sbutton:hover {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
}

.adc-center {
  margin: auto;
  width: 100%;
  border: 3px solid #d5dde2;
  padding: 10px;
}

.adc-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/*
E.g. markup
<div class="thumbnail">
  <img src="landscape-img.jpg" alt="Image" />
</div>
<div class="thumbnail">
  <img src="portrait-img.jpg" class="portrait" alt="Image" />
</div>
*/
.thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.cthumbnail {
  position: relative;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center {
  text-align: center;
  /*    border: 3px solid green;*/
}

.adc-highlight {
  background: #ffffe6;
}

.adc-buttons-wrapper {
  /*   background: #e9e9e9;
       border-radius: 17px;
       padding: 5px;*/
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
}

.adc-floating-buttons {
  background: #e9e9e9;
  position: fixed;
  bottom: 1%;
  /*    border-radius: 17px;
    padding: 5px;
    top: 90%;
    width: inherit;
    z-index:100;*/
}
