#adcllist ul {
  list-style-type: none;
}

div.adc_hint {
  font-size: 90%;
  color: red;
}
span.adc_label {
  color: red;
}
span.adc_placeholder {
  color: red;
}

.initially-hidden {
  display: none;
  /*    width: 150%; */
  font-size: 150%;
  background-color: #eee;
  background: rgba(0, 0, 0, 0);
  /*    margin-left:50px ; */
}

.content ul, .content ol {
  padding-left: 0px !important;
}
