.accordion {
  min-height: 600px;
}

.childdataset.odd {
  background: #f7e6ff;
}
.childdataset.even {
  background: #ecf;
}
/*
.ext_data_source {
    font-size: 5px;
}
*/

table.sticky-header {
  z-index: 10;
}
table tr td {
  vertical-align: top;
  font-size: 80%;
}
