/*
 * This is the HTML to use
<div class="image-wrap">
  <img src="whatever.jpg" alt="polaroid" />
  <p class="image-hover-text">This image looks super neat.</p>
</div>
*/

.image-wrap {
  position: relative;
  height: 200px;
  width: 257px;
}

.image-hover-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;


  visibility: hidden;
  opacity: 0;

  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}


.image-wrap:hover .image-hover-text {
  visibility: visible;
  opacity: 1;
}
