
mebody {
    margin: 40px;
}

.mewrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}

.mebox {
    grid-column: 1 / span 3;
    background-color: #444;
    color: #f00;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}