form#views-form-basket-view-embed-1-1 {
  max-width: 100% !important;

}
.myBasket {
 width: fit-content;
 max-width: fit-content;
}

.main-container-inner {
  width: unset !important;
}

.basketWrapper {
  width: 95vw !important;
}
.w3-block {
  display: block;
  width: 90vw;
}
